.header__lang-link{
  /* Текст */
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  font-style: normal;
  text-align: right;
  color: #fff;
  list-style: none;

  /* Отступы */
  padding: 0;
}

.header__lang-link:first-of-type{
  /* Текст */  
  text-decoration: underline;
  text-underline-offset: 0.2em;

  /* Отступы */
  margin-right: 18px;
}

.header__lang-link:last-of-type{
  margin-left: 0;
  margin-right: auto;
}

@media screen and (max-width: 568px) {
  .header__lang-link{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}