.header{
  /* Экран */
  max-width: 92.5%;
  max-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  /* Отступы */
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 1124px) {
  .header{
    /* Экран */
    max-width: 90.625%;
  }
}

@media screen and (max-width: 984px) {
  .header{
    /* Экран */
    max-width: 93.75%;
  }
}

@media screen and (max-width: 568px) {
  .header{
    /* Экран */
    max-width: 90%;
    max-height: 42px;
  }
}