.footer{
  /* Экран */
  max-width: 92.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* Отступы */
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1124px) {
  .footer{
    /* Экран */
    max-width: 90.625%;
  }
}

@media screen and (max-width: 984px) {
  .footer{
    /* Экран */
    max-width: 93.75%;
  }
}

@media screen and (max-width: 568px) {
  .footer{
    /* Экран */
    max-width: 58.125vw;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;

    /* Отступы */
    margin: 0 auto 0 5%;
    padding: 0;
  }
}