.cover__overlay{
  /* Экран */
  max-width: 92.5%;
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  /* Изображение */
  background-image: url(../../../images/__background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* Текст */
  color: #fff;
  text-decoration: none;

  /* Отступы */
  padding: 20px;
  margin: 0 auto;

  /* Расположение */
  z-index: 1;
}

.cover__overlay::before{
  /* Экран */
  content: "";
  position: absolute;
  background-color: #2a2c2f;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* Расположение */
  z-index: -1;

  /* Аниманция */
  transition: 0.5s;
}

.cover__overlay:hover::before{
  opacity: .8;
}

@media screen and (max-width: 1124px) {
  .cover__overlay{
    /* Экран */
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 984px) {
  .cover__overlay{
    /* Экран */
    max-width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 568px) {
  .cover__overlay{
    /* Экран */
    min-height: 200px;
  }
}