/* .content__margin{
  margin: 0 0 0 11.56%;
}

@media screen and (max-width: 1124px) {
  .content__margin{
    margin-left: 4.69%;
  }
}

@media screen and (max-width: 984px){
  .content__margin{
    margin-left: 3.13%;
    margin-right: 3.13%;
  }
}

@media screen and (max-width: 568px){
  .content__margin{
    margin-left: 5%;
    margin-right: 5%;;
  }
} */